cpp/.idea/
cpp/cmake-build-debug/
cpp/cmake-build-release/
csharp_unity/.idea/
csharp_unity/bin/
csharp_unity/Library/
csharp_unity/Logs/
csharp_unity/obj/
csharp_unity/Assets/DOTween/
*.csproj
*.sln
*.user
